[Desktop Entry]
Name=Eco-Remote
NoDisplay=true
MimeType=x-scheme-handler/eco-remote;
TryExec=rustdesk
Exec=rustdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
